* {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #2b54a6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body{
  background-color: rgba(212, 208, 210, 0.366);
  background-repeat: no-repeat;
  overflow: scroll;
  font-family:'Times New Roman', Times, serif;
  text-align: center;
  word-spacing: 50%;
}
h1{
  font-weight: 600;
  color: rgb(73, 64, 49); 
  padding:1%;
  text-align: left ;
}
input{
  border-radius: 10px;
  margin: 1rem;
  width: 20%;
  height: 30%;
  padding: 1rem;
  text-align:justify;
}


button{
  border-radius: 10px;
  background-color: rgb(241, 232, 232);
  box-shadow: black 20px;
  padding: 0.5rem 1rem;
  width: 150px;
}
label{
  color: #000;
  font-weight: bold;
padding-right: 7rem ;
}
#landingpage{
  background-image: url(https://img.freepik.com/free-photo/abstract-white-brown-d-studio-background-cosmetic-product-presentation-empty-grey-room-with_1258-108687.jpg?size=626&ext=jpg&ga=GA1.2.57622419.1663238735);
  max-width: 1200px;
  max-height: 250px;
  background-repeat: no-repeat;
  background-size:cover;
  background-position:center;
  padding: 6%;
  padding-bottom: 15%;
  font-size:x-large;
  color: rgb(75, 64, 64);
  text-justify: auto;
}
.wrapper{
  background-image: url(https://img.freepik.com/free-photo/friendly-smart-basenji-dog-giving-his-paw-close-up-isolated-white_346278-1626.jpg?size=626&ext=jpg&uid=R81750139&ga=GA1.2.57622419.1663238735);
  background-repeat: no-repeat;
  background-size:cover;
  background-position:center;
  padding:0.5rem;
  position:relative ;
  font-size:large;
}
#pet{
  background-color: rgb(108, 3, 3);
  color:whitesmoke;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 7px;
  padding:0rem 2rem;
  
}
#landinghead{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 2rem;
  font-weight: 400px;
}
#us{
  background-image: url("https://img.freepik.com/premium-photo/contact-us-hand-man-holding-mobile-smartphone-with-mail-phone-email-chat-icon-cutomer-support-concept-blue-wide-banner_256259-2764.jpg?size=626&ext=jpg&ga=GA1.2.57622419.1663238735");
  background-position: center;
  background-size: cover;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: large;
  color:rgb(165, 150, 114);
  padding-top:2%;
  padding-bottom:2%;
}
#adopt{
  background-color: rgb(198, 171, 171);
  color:whitesmoke;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 7px;
  padding:0rem 2rem;
  
}
#donate{
  background-color: darkorange;
  color:whitesmoke;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 7px;
  padding:0rem 2rem; 
}
.my-button{
  margin:0.5%;
  border-radius: 10px;
  background-color: rgb(241, 232, 232);
  box-shadow: black 20px;
  padding: 0.5rem 1rem;
  width: 150px;

}
.toddler{
  background-image: url("https://img.freepik.com/free-photo/volunteers-holding-box-containing-donations-charity_23-2149230560.jpg?size=626&ext=jpg&ga=GA1.2.57622419.1663238735");
  background-repeat: no-repeat;
  background-size:cover;
  background-position:center;
  padding:2rem;
  position:relative ;
  font-size:large;
}

#note{
  font-size: small;
  color:aliceblue;
}
.paddy{
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}
#quick{
  margin-top: 70px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-evenly;
}
#form{
background-image:url("https://img.freepik.com/free-photo/creative-wallpaper-with-white-shapes_23-2148811498.jpg?size=626&ext=jpg&ga=GA1.2.57622419.1663238735");
  background-repeat: no-repeat;
  background-size:cover;
  background-position:center;
  padding: 1 rem;
  position:relative;
  font-size:small;
  padding-top: 2%;
  padding-bottom:2%;
  padding-left:4%;
  padding-right: 4%;
  
}
#contact{
  background-image:url("https://img.freepik.com/premium-photo/website-internet-contact-us-page-concept-with-phone-chat-email-icons-symbol-telephone-mail-mobile-phone-website-page-contact-us-wide-web-banner-copy-space-blue-background_256259-2446.jpg?size=626&ext=jpg&ga=GA1.2.57622419.1663238735");
  background-repeat: no-repeat;
  background-size:cover;
  padding-top:3%;
  padding-bottom: 6%;
  padding-right: 35%;
  font-size:large;
  color: rgba(64, 62, 52, 0.966);
}
